<% content_for :body_content_title do %>
  <%= t('.search_results_for', :what => params[:query]) %>
<% end %>

<% content_for :body do %>
  <% if @results.empty? %>
    <%= t('.no_results_for', :what => params[:query]) %>
  <% else %>
    <% @results.each do |model, sunspot_results| %>
      <h2><%= result_type(model.new) %></h2>
      <ul class="search_results <%= model.to_s.underscore %>">
        <% sunspot_results.results.each do |result| %>
          <li><%= link_to result_title(result).html_safe, result_url(result) %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>

<%= render "/refinery/content_page" %>
